
html, body, #page {
	background-color: lightgrey;
height:93%;
width: 99%;
}
#page{
float: left;
border: 2px solid red;
}

div#cabecera{
float: left;
width: 100%;
border: 2px solid red;
height: 50px;
}	

div#db-header{
	float: left;
	border: 2px solid blue;
	height: 100%;
	width: 100px;
}
	button#logo{
		width: 100%;
	}

ol{
	float: left;
	diplay: inline;
	white-space: nowrap;
}
div#cabecera > div{
	float: left;
	height: 100%;
	border: 2px solid red;
}


/*div#db-menu{
	float: right;
	border: 2px solid green;
	height: 100%;
	width: 48%
}*/

#menu_top, #menu_bot{
	height: 50%;
	text-align: center;
}
.menu_opt{
	float: left;
	width: 18%;
	height: 100%;
	border: 1px solid white;
	box-shadow: 0px 5px 8px #888888;
	margin-left: 1%;
}
.menu_opt:hover{
	box-shadow: 0px 10px 10px 10px #ffdf79;
		border: 3px solid brown;
}




/**##################################*/
/**############## cuerpo ############*/
div#cuerpo{
height: 100%;
width: 100%;
float: left;
border: 2px solid blue;
}

#sidebar, #contents {
    height:100%;
}

#sidebar{
	float: left;
	width: 20%;
}

#contents{
	border: 2px solid blue;
	float: right;
	width: 78%;
}

#sidebar iframe, #contents iframe {
    height: 100%;
    width: 100%;
    border: none;
}
